* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}
:root {
	--w_size: 100vw;
	--h_size: 100vh;
	--back: #ffffff;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	color: #000000;
}
.calculator_body {
	padding: 10px;
	width: var(--w_size);
	height: var(--h_size);
	border: #000000 solid 2px;
	background-color: var(--back);
	border-radius: 5px;
}
.button_container {
	display: grid;
	gap: 3%;
	margin-block-start: 3.5%;
	grid-template-columns: repeat(4, 1fr);
	height: 67%;
}
span {
	user-select: none;
}
.calculator_display {
	position: relative;
	border-radius: 2px;
	background-color: #000000dd;
	height: 30%;
	color: #ffffff;
	font-size: 70px;
	align-items: center;
	border: #ffffff 2px solid;
}
#equation {
	position: absolute;
	bottom: 35px;
	right: 10px;
	width: 95%;
	height: 80%;
	-webkit-box-direction: reverse;
	font-family: "Courier New", Courier, monospace;
	font-size: calc(0.1 * var(--h_size));
	user-select: none !important;
	color: wheat;
	background-color: transparent;
	text-align: end;
	word-wrap: unset;
	vertical-align: bottom;
	/* border: 2px yellow solid !important; */
	/* overflow: hidden; */
}
.calculator_button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #84848477;
	opacity: 0.8;
	border: #666666 solid 1px;
	border-radius: 2px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: calc(0.1 * var(--w_size));
	cursor: pointer;
}
.calculator_button:hover {
	opacity: 1;
}
.function {
	background-color: #7e7d7d53;
}
.operator {
	background-color: #2990fe85;
}
.number {
	background-color: #d1d1d185;
}

#setting {
	display: block;
	position: absolute;
	bottom: -8px;
	right: 2px;
	user-select: none;
	cursor: pointer;
	z-index: 10;
	opacity: 0.3;
	background-color: transparent;
}
/* setting icon */
#settingIcon {
	transform: scalex(-1);
	width: calc(0.07 * var(--w_size));
	height: calc(0.07 * var(--w_size));
	filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(133deg)
		brightness(114%) contrast(105%);
	/* border: 2px red solid !important; */
}
#setting:hover {
	opacity: 1;
}
/* setting menue */
#settingContent {
	display: none;
	background-color: #ffffff8b;
	font-size: 0.3em;
	white-space: nowrap;
	color: #000000;
	box-shadow: -3px -3px 16px 0px #ffffff74;
	position: absolute;
	right: 30px;
	bottom: 20px;
	text-align: center;
	opacity: 1;
	z-index: 11;
}

#settingContent div {
	text-decoration: none;
	display: block;
	padding: 2px 20px;
	z-index: 11;
}
/* setting hover effects */
#settingContent div:hover {
	background-color: #dddddddd;
}
.darkMode {
	background-color: black;
	color: white;
}

.lightMode {
	background-color: #f5adad6a;
	color: #251256;
}
.show {
	display: block !important;
	opacity: 1;
}
.default {
	color: initial;
	background-color: initial;
}


@media only screen and (max-width: 500px) {
	:root {
		--w_size: 100vw;
		--h_size: 100vh;
		--back: #eeeeee88;
	}
	.button_container {
		gap: 3%;
		height: 69%;
	}
	.calculator_display {
		height: 28%;
		margin-bottom: 5%;
	}
	#settingContent {
		font-size: 0.3em;
	}
}
@media only screen and (max-height: 650px) {
	#settingContent {
		font-size: 0.25em;
	}
}
@media only screen and (max-height: 350px) {
	#settingContent {
		font-size: 0.2em;
	}
}

@media only screen and (min-width: 500px) {
	:root {
		--w_size: 400px;
		--h_size: 600px;
	}
}
