:root {
	--grid_size: 140px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}
#calculator {
	position: relative;
	width: calc(var(--grid_size) * 3);
	height: 100vh;
	overflow: visible;
}
.grid_container {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: calc(var(--grid_size) / 10);
	background-color: #4b525b;
	align-items: center;
	padding: calc(var(--grid_size) / 10);
	width: calc(var(--grid_size) * 3);
	margin: auto;
	border: 1px solid black;
	border-radius: 3.5%;
	box-shadow: 3px 3px 2px 2px #222222cc;
}
.grid_item {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border-radius: 5px;
	color: beige;
	background-color: #ffffff22;
	font-size: calc(var(--grid_size) * 0.25);
	min-height: calc(var(--grid_size) * 0.4);
	box-shadow: -2px -2px 1px #ffffff4a, 2px 2px 2px #000000;
	cursor: pointer;
}
.grid_item > div {
	position: relative;
	min-height: calc(var(--grid_size) * 0.4);
}
.grid_item:hover > div,
.grid_item:active > div {
	background-color: #00000016;
}
.grid_item:active {
	translate: -1% -1%;
}

#display {
	position: relative;
	grid-column: 1 / 5;
	background-color: #161616;
	white-space: nowrap;
	overflow: hidden;
	cursor: text;
	height: calc(var(--grid_size) * 0.8);
	box-shadow: -2px -2px 2px 2px #0a0a0aaa, 2px 2px 2px 2px#ffffff29;
}

span {
	position: absolute;
	bottom: 50%;
	right: 50%;
	translate: 50% 50%;
	width: fit-content;
	color: #fff;
	user-select: none;
}

#equation {
	font-size: calc(0.4 * var(--grid_size));
	bottom: 2%;
	right: 2% !important;
	translate: -0% -0%;
	user-select: text !important;
}

#setting {
	position: relative;
	display: inline-block;
	top: 20%;
	right: -4%;
	user-select: auto;
	cursor: pointer;
	z-index: 10;
}
.settingbtn {
	font-size: calc(0.3 * var(--grid_size));
	opacity: 0.6;
	border: none;
	width: 1.4em;
	background-color: #000000;
	color: white;
}

.setting-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: var(--grid_size);
	box-shadow: 0px 8px 16px 0px #00000033;
	z-index: 11;
}

.setting-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.setting-content a:hover {
	background-color: #ddd;
	opacity: 1;
}

.setting:hover .setting-content {
	display: block;
	opacity: 1;
}

.setting:hover .settingbtn {
	color: #000;
	background-color: #ffffff;
	opacity: 1;
}

#clear {
	background-color: #229977;
	box-shadow: -2px -2px 2px #27efb7, 2px 2px 2px #000000;
}
#all_clear {
	background-color: #b90404;
	box-shadow: -2px -2px 2px #ff0000, 2px 2px 2px #000000;
}
.function {
	background-color: #948603;
	box-shadow: -2px -2px 2px #f8e4029c, 2px 2px 2px #000000;
}

span.clear {
	font-size: 1.5em;
	bottom: 60%;
}
@media screen and (max-width: 480px) {
	:root {
		--grid_size: calc(100vw / 3);
	}
	.grid_container {
		height: 100vh;
	}
	#display {
		height: 20vh;
	}
	.grid_item,
	.grid_item > div {
		height: 12vh;
	}
	#setting {
		top: 4%;
	}
}
