@font-face {
	font-family: "LCDMono2";
	font-style: normal;
	font-weight: 700;
	src: local("LCDMono2"), url("img/LCDM2B__.woff") format("woff");
}
:root {
	--size: min(7vw, 7vh);
	--grid_size: 2em;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
small {
	position: relative;
	top: -6px;
}
body {
	font-size: var(--size);

	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
}
main {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: visible;
}
.grid_container {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: calc(var(--grid_size) / 5);
	background-color: #4b525b;
	align-items: center;
	padding: 0.4em;
	margin: auto;
	border: 1px solid black;
	min-width: 100px;
	border-radius: 3.5%;
	box-shadow: 3px 3px 2px 2px #222222cc;
}
.grid_item {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border-radius: 5px;
	color: beige;
	background-color: #ffffff22;
	font-size: var(--size);
	width: var(--grid_size);
	box-shadow: -2px -2px 1px #ffffff4a, 2px 2px 2px #000000;
	cursor: pointer;
	min-width: 20%;
	/* margin: 0.13em; */
}
.grid_item:hover > a,
.grid_item:active > a {
	display: block;
	background-color: #00000016;
}
.grid_item:active {
	translate: -2% -2%;
}

#display {
	color: rgba(245, 222, 179, 0.15);
	position: relative;
	font-family: LCDMono2, Arial, Helvetica, sans-serif;
	text-align: right;
	width: calc(2.3 * var(--grid_size));
	grid-column: 1 / 5;
	background-color: #161616;
	/* border: #ffffff 1px solid; */
	letter-spacing: 0.08em;
	white-space: nowrap;
	overflow: hidden;
	cursor: text;
	min-width: 95px;
	min-height: 1em;
	font-size: calc(2 * var(--size));
	padding: calc(0.1 * var(--grid_size));
	box-shadow: -2px -2px 2px 2px #0a0a0aaa, 2px 2px 2px 2px#ffffff29;
}
#display span {
	font-size: calc(1.25 * var(--size));

	position: absolute;
	bottom: 55%;
	right: -2px;
	translate: 0 60%;
	color: #f7f7c1;
	user-select: text !important;
}

a {
	text-decoration: none;
}

span {
	color: #fff;
	user-select: none;
	font-size: 1em;
}

#copy {
	background-color: #11ff22bb;
	box-shadow: -2px -2px 1px #28c132aa, 2px 2px 2px #000000;
}
#all_clear {
	background-color: #ff00007d;
	box-shadow: -2px -2px 1px #ef3232a1, 2px 2px 2px #000000;
}
.function {
	background-color: #948603;
	box-shadow: -2px -2px 1px #f8e4029c, 2px 2px 2px #000000;
}
