@font-face {
	font-family: "LCDMono2";
	font-style: normal;
	font-weight: 700;
	src: local("LCDMono2"), url("img/LCDM2B__.woff") format("woff");
}
:root {
	--size: calc(min(7vw, 7vh));
	--grid_size: 2em;
}
body {
	font-size: var(--size);
	width: 90vw;
	height: 90vh;
	overflow: scroll;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5%;
}
.grid_container {
	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: calc(var(--grid_size) / 5);
	background-color: #2e343b;
	align-items: center;
	padding: 0.4em;
	width: calc(5 * var(--grid_size));
	min-width: 100px;
}
.grid_item {
	text-align: center;
	border-radius: 5px;
	color: beige;
	background-color: #ffffff22;
	font-size: var(--size);
	width: var(--grid_size);
	box-shadow: -2px -2px 1px #ffffff4a, 2px 2px 2px #000000;
	cursor: pointer;
	min-width: 20%;
}
.grid_item:hover > a,.grid_item:active > a {
	display: block;
	background-color: #00000016;

}
.grid_item:active{
	translate: -2% -2%;
}

#display {
	font-family: "LCDMono2";
	color: #f7f7c1c8;
	text-align: right;
	width: calc(2.3 * var(--grid_size));
	grid-column: 1 / 5;
	box-shadow: none;
	background-color: black;
	border: #8888ff 1% solid;
	cursor: text;
	min-width: 95px;
	font-size: calc(2*var(--size));
	padding: calc(0.1 * var(--grid_size));
	box-shadow: -2px -2px 1px #2b2b2baa, 2px 2px 2px #ffffff29;
}

a {
	text-decoration: none;
}

span {
	color: #fff;
	user-select: none;
	font-size: 1em;
}

#copy {
	background-color: #11ff22bb;
	box-shadow: -2px -2px 1px #28c132aa, 2px 2px 2px #000000;
}
#clear {
	background-color: #ff00007d;
	box-shadow: -2px -2px 1px #ef3232a1,  2px 2px 2px #000000;
}
.function {
	background-color: #948603;
	box-shadow: -2px -2px 1px #f8e4029c, 2px 2px 2px #000000;
}

